import type { ReactNode } from 'react'

export type Props = {
  children: ReactNode
}

function {{pascalCase name}}(props: Props) {
  const { children } = props

  return <div>{children}</div>
}

export default {{pascalCase name}}
